.pesquisa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.pesquisa h2{
    margin-bottom: 1em;
}

.pesquisa p{
    margin-bottom: 30px;
}