.listaProdutos{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Monteserrat',sans-serif;
    color: 	#A9A9A9;
    opacity: 0.9;
    text-shadow: 1px 1px 1px black ;

}

.formPesquisa{
    max-width: 100%;
    width: 50% ;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.formPesquisa input{
    margin-right: 10px;
    margin-left: -400px;
    width: 500px;
}

.nenhumProduto{
    text-align: center;
}

.nenhumProduto p{
    margin-bottom: 1.5em;
}

.nenhumProduto a{
    padding: 10px 25px;
}

.containerProduto{
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px 10px;
    box-shadow: 2px 2px #888888;
    width: 50%;
    margin-left: 2em;
    font-family: 'Monteserrat',sans-serif;
}

.btn_search{
  background-color:#B0E0E6 ;
  color:#F5FFFA ;
  border-radius:5px;
}